In [152]:
# Import necessary liberaries
%matplotlib inline
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.pipeline import Pipeline, FeatureUnion

In [5]:
def get_users_from_index(index):
    return df[df.index == index]['users'].values[0]
def get_index_from_users(users):
    return df[df.users == index]['users'].values[0]

In [87]:
# Read CSV files
post = pd.read_csv('posts.csv')
following = pd.read_csv('following.csv')
notification = pd.read_csv('notifications.csv')
user = pd.read_csv('users.csv')

In [88]:
# Drop unnecessary fields from the table
post = post.drop(columns = ["action","tags","slug","created_at","updated_at","image","status_id","post_id"])
post.head()

,id,user_id,title,content
0,1,2077,What i have learnt so far on HTML,I learnt how to use the table tag as i have us...
1,2,1719,HTML BEGINS HERE,"I am on this journey with start.ng, and here ..."
2,4,1310,My Laziness In The Open,I have not been attending classes on the HNG c...
3,6,1787,MY TASK 2,My journey on **StartNG** pre-internship progr...
4,7,167,Task 2,"A Summary on The “idongesit.html” CV, Its Str..."

In [89]:
# Drop unnecessary fields from the table
notification = notification.drop(columns = ['parent_comment_id','comment','sender_id','user_id','status','created_at','updated_at'])

In [90]:
notification

      id  post_id     action       type
0      1      NaN   Followed  Following
1      2      NaN   Followed  Following
2      3      NaN   Followed  Following
3      5      NaN   Followed  Following
4      7    278.0  Commented       Post
..   ...      ...        ...        ...
185  199    999.0       Like   Reaction
186  202   1007.0       Like   Reaction
187  216    998.0       Like   Reaction
188  219    999.0       Like   Reaction
189  222    998.0       Love   Reaction

[190 rows x 4 columns]

In [145]:
#Merge table post and notification together
df = pd.merge(post, notification, on='id')

In [147]:
df.drop(columns = ['id'])

,user_id,title,content,post_id,action,type
0,2077,What i have learnt so far on HTML,I learnt how to use the table tag as i have us...,NaN,Followed,Following
1,1719,HTML BEGINS HERE,"I am on this journey with start.ng, and here ...",NaN,Followed,Following
2,167,Task 2,"A Summary on The “idongesit.html” CV, Its Str...",278.0,Commented,Post
3,329,My Journey on HTML,Using the Hyper Text Markup Language (HTML) ha...,360.0,Commented,Post
4,2040,StartNG HTML Exposition,![](/storage/2040/images/img-kf6sy3kvg0.png)![...,360.0,Commented,Post
...,...,...,...,...,...,...
135,2185,the learning process,THE THINGS I LEARNT\r\n\r\n how to setup slack...,985.0,Love,Reaction
136,421,My HNG Internship Journey,<p>It's only been a couple of days since I enr...,999.0,Like,Reaction
137,218,Zero To Hero In HTML: The Journey Continues,<p>As UnicoDeveloper always tweet:</p>\r\n<blo...,998.0,Like,Reaction
138,2208,MY FIRST SOFTWARE DEVELOPMENT TASK,I have learnt how to create a blog and link it...,999.0,Like,Reaction
139,1413,"Do not say how was your night, it's a wrong En...","<p>Stop Asking People 'How Was Your Night', It...",998.0,Love,Reaction

In [148]:
# Select importtant features
features = ['user_id','title','content','post_id','action','type']

In [159]:
def combine_features(row):
        return FeatureUnion(row['user_id'] +' '+row['title'] +' '+row['content'] +' '+row['post_id'] +' '+row['action'] +' '+row['type'])

In [165]:
combined_features = df["combined_features"] = df.apply(combine_features,axis=1)

AttributeError: 'function' object has no attribute 'transform'

In [143]:
cv = CountVectorizer()

In [144]:
count_matrix = cv.fit_transform(df["combined_features"])

AttributeError: 'NoneType' object has no attribute 'lower'